    <!-- Search area 3 start -->
<div class="search-box-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inline-search-area">
                    <div class="row row-3">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <select class="selectpicker search-fields" name="select-type">
                                <option>Select Type Of Car</option>

                                <option>New Car</option>
                                <option>Used Car</option>
                            </select>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <select class="custom-select mb-4 select-modify" name="select-brand">
                                <option value="0">Select Brand</option>
                                <option>Audi</option>
                                <option>BMW</option>
                                <option>Honda</option>
                                <option>Nissan</option>
                            </select>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <select class="custom-select mb-4 select-modify" name="select-make">
                                <option value="0">Select Car Model</option>
                                <option>BMW</option>
                                <option>Honda</option>
                                <option>Lamborghini</option>
                                <option>Sports Car</option>
                            </select>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <select class="custom-select mb-4 select-modify" name="select-location">
                                <option value="0">Select Location</option>
                                <option>United States</option>
                                <option>United Kingdom</option>
                            </select>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <select class="custom-select mb-4 select-modify" name="select-year">
                                <option value="0">Select Year</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                            </select>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col">
                            <button class="btn white-btn btn-search btn-block">
                                <i class="fa fa-search"></i><strong>Find</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search area 3 end -->

@code { }
