<div class="latest-offers categories content-area-7">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Latest Offers</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row row-2">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-1-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <div class="new">New</div>
                                        <div class="lo-text clearfix">
                                            <div class="price-box-2"><sup>$</sup>650<span>/month</span></div>
                                            <h3 class="category-title">
                                                <a href="car-details.html">Toyota Prius</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <div class="new">New</div>
                                        <div class="lo-text clearfix">
                                            <div class="price-box-2"><sup>$</sup>740<span>/month</span></div>
                                            <h3 class="category-title">
                                                <a href="car-details.html">Lamborghini Huracan</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <div class="new">New</div>
                                        <div class="lo-text clearfix">
                                            <div class="price-box-2"><sup>$</sup>950<span>/month</span></div>
                                            <h3 class="category-title">
                                                <a href="car-details.html">Lamborghini</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-4-bg">
                        <div class="category-overlay">
                            <div class="category-overlay">
                                <div class="category-content">
                                    <div class="new">New</div>
                                    <div class="lo-text clearfix">
                                        <div class="price-box-2"><sup>$</sup>480<span>/month</span></div>
                                        <h3 class="category-title">
                                            <a href="car-details.html">Red ferrari Car 2018</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
