<!-- Testimonial 3 start -->
<div class="testimonial-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <h1>Our Testimonial</h1>
                </div>
                <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators3" data-slide-to="1" class=""></li>
                        <li data-target="#carouselExampleIndicators3" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonial-info">
                                <div class="sz">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                                </div>
                                <div class="media mb-4">
                                    <a class="pr-3" href="#">
                                        <img src="http://placehold.it/70x70" alt="testimonial-3" class="img-fluid">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Anne Brady</a>
                                        </h5>
                                        <h6>Restaurant Owner</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial-info">
                                <div class="sz">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                                </div>
                                <div class="media mb-4">
                                    <a class="pr-3" href="#">
                                        <img src="http://placehold.it/70x70" alt="testimonial-3" class="img-fluid">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Antony Moore</a>
                                        </h5>
                                        <h6>Restaurant Owner</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial-info">
                                <div class="sz">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
                                </div>
                                <div class="media mb-4">
                                    <a class="pr-3" href="#">
                                        <img src="http://placehold.it/70x70" alt="testimonial-3" class="img-fluid">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Emma Connor</a>
                                        </h5>
                                        <h6>Restaurant Owner</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 3 end -->

@code {

}
